body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #000000;
  font-family: 'monospace';
  font-size: 40px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

canvas {
  position: absolute;
}

#gameScreen {
}

#sightCanvas {
  z-index: 999;
  pointer-events: none;
}

#shadowCanvas {
  z-index: 555;
  pointer-events: none;
}

audio {
  display: none;
}